// Put your custom styles here!
    

.bespoke-slide
    background cream
    align-items left
    justify-content center

h1
    text-align center
h2 
    text-align center

h5
    margin 5px 5px 5px 5px
    text-align left



    
// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
