// Put your custom styles here!
li
    list-style-type: none
p 
    text-align justify
    font-size 13px
    fontcolor yellow
    margin 0px 30px 1rem 30px

.bespoke-slide
    background gold
    display block

h2
    padding 0px 0px 0px 30px
    
    
// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
