// Put your custom styles here!
li
    list-style-type: none
p 
    text-align justify
    font-size 14.5px
    fontcolor yellow
    margin 0px 30px 1rem 30px
    font-family : Lato
    font-style semibold
    

.bespoke-slide
    background cream
    align-items left
    justify-content center

h1
    text-align center

    
// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
